[Desktop Entry]
Name[ar]=الموثق
Name[ca]=Autenticador
Name[cs]=Autentikátor
Name[da]=Godkender
Name[de]=Authenticator
Name[en_GB]=Authenticator
Name[es]=Authenticador
Name[eu]=Authenticator
Name[fi]=Todennin
Name[fr]=Authentificateur
Name[fur]=Autenticadôr
Name[gl]=Autenticador
Name[he]=מאמת
Name[hr]=Ovjeritelj
Name[hu]=Hitelesítő
Name[id]=Autentikator
Name[it]=Authenticator
Name[ja]=Authenticator
Name[ko]=인증기
Name[ms]=Pengesah
Name[nb]=Authenticator
Name[nl]=Authenticator
Name[nn]=Authenticator
Name[oc]=Autentificador
Name[pa]=ਅਥੈਂਟੀਕੇਟਰ
Name[pl]=Authenticator
Name[pt]=Autenticador
Name[pt_BR]=Autenticador
Name[ro]=Autentificator
Name[ru]=Аутентификатор
Name[sk]=Authenticator
Name[sl]=Overjevalnik
Name[sr]=Потврђивач
Name[sr@latin]=Autentifikator
Name[sv]=Authenticator
Name[tr]=Kimlik Doğrulayıcı
Name[uk]=Розпізнавач
Name[zh_CN]=验证器
Name=Authenticator
GenericName[cs]=Dvoufaktorová autentizace
GenericName[da]=Tofaktorgodkendelse
GenericName[de]=Zwei-Faktor-Authentifizierung
GenericName[en_GB]=Two-Factor Authentication
GenericName[es]=Autenticación de doble factor
GenericName[eu]=Bi faktoreko autentifikazioa
GenericName[fi]=Kaksivaiheinen todennus
GenericName[fr]=Authentification à deux facteurs
GenericName[fur]=Autenticazion a doi fatôrs
GenericName[gl]=Autenticación de dobre factor
GenericName[he]=אימות דו־שלבי
GenericName[hr]=Dvofaktorska ovjera
GenericName[hu]=Kétlépcsős hitelesítés
GenericName[id]=Autentikasi Dua Faktor
GenericName[it]=Autenticazione a due fattori
GenericName[ja]=二要素認証
GenericName[ko]=이중 인증
GenericName[ms]=Dua Langkah Pengesahan
GenericName[nb]=Tofaktor-autentisering
GenericName[nl]=Tweestapsauthenticatie
GenericName[nn]=Tofaktor-autentisering
GenericName[oc]=Autentificacion en dos temps
GenericName[pa]=ਦੋ-ਪੜਾਵੀਂ ਪਰਮਾਣਕਿਤਾ
GenericName[pl]=Uwierzytelnianie dwuetapowe
GenericName[pt]=Autenticação de dois fatores
GenericName[pt_BR]=Autenticação de dois fatores
GenericName[ro]=Autentificare în doi factori
GenericName[ru]=Двухфакторная Аутентификация
GenericName[sl]=Dvostopenjsko overjanje
GenericName[sr]=Двофакторни потврђивач
GenericName[sv]=Tvåfaktorsautentisering
GenericName[tr]=İki Aşamalı Kimlik Doğrulama
GenericName[uk]=Двофакторне розпізнавання
GenericName[zh_CN]=双重认证
GenericName=Two-Factor Authentication
Comment[cs]=Generujte dvoufaktorové kódy
Comment[da]=Generer tofaktorkoder
Comment[de]=Zwei-Faktor-Codes generieren
Comment[en_GB]=Generate Two-Factor Codes
Comment[es]=Generar códigos de autenticación de doble factor
Comment[eu]=Sortu bi faktoreko kodeak
Comment[fi]=Luo kaksivaiheisen todennuksen koodeja
Comment[fr]=Générez des codes d’authentification à deux facteurs
Comment[fur]=Gjenere codiçs a doi fatôrs
Comment[gl]=Xerar códigos de dobre factor
Comment[he]=יצירת קודים לאימות דו־שלבי
Comment[hr]=Stvorite dvofaktorne kôdove
Comment[hu]=Kétlépcsős kódok előállítása
Comment[id]=Hasilkan Kode Dua Faktor
Comment[it]=Genera codici per l'autenticazione a due fattori
Comment[ja]=二要素認証コードを生成します
Comment[ko]=이중 인증 코드 생성
Comment[ms]=Janakan Kod Dua Langkah Pengesahan
Comment[nb]=Generer tofaktor-koder
Comment[nl]=Tweestapscodes genereren
Comment[nn]=Generer tofaktor-koder
Comment[oc]=Generar de còdis a dos factors
Comment[pa]=ਦੋ-ਪੜਾਵੀਂ ਕੋਡ ਬਣਾਓ
Comment[pl]=Generowanie kodów uwierzytelniania dwuetapowego
Comment[pt]=Gere códigos de dois fatores
Comment[pt_BR]=Gere códigos de dois fatores
Comment[ro]=Generează coduri cu doi factori
Comment[ru]=Создание Двухфакторных Кодов
Comment[sl]=Ustvarjanje dvostopenjske overitvene kode
Comment[sr]=Створите двофакторне шифре
Comment[sv]=Generera tvåfaktorskoder
Comment[tr]=İki Aşamalı Kodlar Oluştur
Comment[uk]=Створення двофакторних кодів
Comment[zh_CN]=生成双因素验证码
Comment=Generate Two-Factor Codes
Type=Application
Exec=authenticator %u
Terminal=false
Categories=GNOME;GTK;Security;Utility;
Keywords[cs]=Gnome;GTK;ověření;verifikace;2FA;autentizace;OTP;TOTP;
Keywords[da]=Gnome;GTK;Verifikation;2FA;Godkendelse;OTP;TOTP;
Keywords[de]=Gnome;GTK;Verification;Verifizierung;2FA;Authentifizierung;Zwei-Faktor-Authentifizierung;OTP;TOTP;
Keywords[en_GB]=GNOME;GTK;Verification;2FA;Authentication;OTP;TOTP;
Keywords[es]=Gnome;GTK;Verificación;2FA;Autenticación;Doble;Factor;OTP;TOPT;
Keywords[eu]=Gnome;GTK;Egiaztapena;2FA;Autentifikazioa;OTP;TOTP;
Keywords[fi]=Gnome;GTK;Verification;2FA;Authentication;OTP;TOTP;tunnistaminen;vahvistus;kaksivaiheinen;todentaminen;
Keywords[fr]=Gnome;GTK;Vérification;2FA;MFA;Authentification;OTP;TOTP;Facteurs;
Keywords[fur]=Gnome;GTK;Verifiche;2FA;Autenticazion;OTP;TwoFactor;DoiFatôrs;TOTP;
Keywords[gl]=Gnome;GTK;Verificación;2FA;Autenticación;OTP;TOTP;
Keywords[he]=‫Gnome;GTK;GNOME;אימות;וידוא;דו־שלבי;דו שלבי;דושלבי;חד־פעמי;חד פעמי;חדפעמי;קוד חד פעמי;
Keywords[hr]=Gnome;GTK;Provjera;2FA;Ovjera;OTP;TOTP;
Keywords[hu]=GNOME;GTK;Ellenőrzés;2FA;Hitelesítés;OTP;TOTP;Kétlépcsős;
Keywords[id]=Gnome;GTK;Verifikasi;2FA;Autentikasi;OTP;TOTP;
Keywords[it]=GNOME;GTK;Verifica;2FA;Autenticazione;OTP;TOTP;
Keywords[ja]=Gnome;GTK;Verification;2FA;Authentication;OTP;TOTP;TwoFactor;認証;二要素;2要素;2段階;二段階;ワンタイムパスワード;
Keywords[ko]=Gnome;그놈;GTK;인증;Verification;2FA;이중;Authentication;OTP;TOTP;
Keywords[ms]=Gnome;GTK;Verifikasi;2FA;Pengesah;OTP;TOTP;
Keywords[nb]=Gnome;GTK;Verifisering;Autentisering;
Keywords[nl]=Gnome;GTK;Verification;2FA;Authentication;OTP;TOTP;TwoFactor;Verificatie;Authenticatie;Aanmeldingscontrole;Tweefactoren;Tweestaps;
Keywords[nn]=Gnome;GTK;Verifisering;Autentisering;
Keywords[oc]=Gnome;GTK;Verificacion;2FA;Dos temps;Dos factors;autentificacion;identificacion;OTP;TOTP;Còdis;Getons
Keywords[pa]=ਗਨੋਮ;ਜਾਂਚ;ਤਸਦੀਕ;2ਐਫਏ;ਪਰਮਾਣਕਿਤਾ;ਓਟੀਪੀ;ਟੀਓਪੀਟੀ;ਓ-ਟੀ-ਪੀ;
Keywords[pl]=GNOME;GTK;Weryfikacja;2FA;Uwierzytelnianie;Upoważnianie;Autentykacja;Dwuetapowe;Dwuskładnikowe;TwoFactor;OTP;TOTP;
Keywords[pt]=Gnome;GTK;Verificação;2FA;Autenticação;OTP;TOTP;
Keywords[pt_BR]=Gnome;GTK;Verificação;2FA;Autenticação;Authentication;OTP;TOTP;
Keywords[ro]=Gnome;GTK;Verification;2FA;Authentication;OTP;TOTP;Verificare;Autentificare;
Keywords[ru]=Gnome;GTK;Проверка;2FA;Аутентификация;OTP;TOTP;
Keywords[sl]=Gnome;GTK;Verifikacija;2FA;Authentication;OTP;TwoFactor;Overitev;Dvostopenjsko;Autentifikator;
Keywords[sr]=Гном;Гтк;потврђивач;2ФА;идентитет;ОТП;ТОТП;Gnome;GTK;Verification;2FA;Authentication;OTP;TOTP;
Keywords[sv]=GNOME;GTK;Verifiering;2FA;Autentisering;Tvåfaktorsautentisering;OTP;TOTP;
Keywords[tr]=Gnome;GTK;Doğrulama;2FA;Kimlik Doğrulama;İki Aşamalı;İki Aşamalı Kimlik Doğrulama;OTP;TOTP;
Keywords[uk]=Gnome;GTK;Verification;2FA;Authentication;OTP;TOTP;гноме;гном;жтека;гтк;перевірка;2фа;автентифікація;розпізнавання;двофакторна;
Keywords[zh_CN]=Gnome;GTK;Verification;2FA;Authentication;OTP;TOTP;验证;认证;双重认证;两步验证;身份验证;双因素;
Keywords=Gnome;GTK;Verification;2FA;Authentication;OTP;TOTP;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.belmoussaoui.Authenticator
StartupNotify=true
MimeType=x-scheme-handler/otpauth
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;
