[Desktop Entry]
Name[es]=Loupe
Name[eu]=Loupe
Name[fa]=لوپ
Name[fi]=Loupe
Name[gl]=Loupe
Name[he]=לופ
Name[hu]=Loupe
Name[id]=Loupe
Name[ka]=Loupe
Name[ko]=루페
Name[nl]=Loupe
Name[oc]=Lópia
Name[pl]=Loupe
Name[pt]=Loupe
Name[ru]=Loupe
Name[sl]=Lupa
Name[sv]=Loupe
Name[tr]=Loupe
Name[uk]=Лупе
Name[zh_CN]=放大镜
Name=Loupe
Exec=loupe %U
Icon=org.gnome.Loupe
DBusActivatable=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;2DGraphics;RasterGraphics;Viewer;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;image/x-icns;
Keywords[es]=foto;imagen;presentación;gráficos;visor;
Keywords[eu]=Argazkia;Aurkezpena;Grafikoak;Irudi-ikustailea;
Keywords[fa]=Picture;Slideshow;Graphics;Image Viewer;عکس;نگاره;تصویر;اسلاید"گرافیک;
Keywords[fi]=Picture;Slideshow;Graphics;Image Viewer;kuvakatselin;diaesitys;
Keywords[gl]=Imaxes;Panorama;Gráficos;Visor de imaxes;
Keywords[he]=תמונה;תמונות;מצגת;הצגה;גרפיקה;מציג תמונות;
Keywords[hu]=Fénykép;Kép;Diavetítés;Grafika;Képnézegető;
Keywords[id]=Gambaran;Salindia;Grafik;Penampil Gambar;
Keywords[ka]=Picture;Slideshow;Graphics;Image Viewer;
Keywords[ko]=Picture;사진;그림;Slideshow;슬라이드쇼;Graphics;그래픽;Image Viewer;보기;
Keywords[nl]=Picture;Slideshow;Graphics;Image Viewer;Foto;Diavoorstelling;Grafisch;Afbeeldingsweergave;
Keywords[oc]=Imatge;Diaporama;Grafics;Visualizaira;Visionadora;Afichador;Visionadoira;Visualizador;
Keywords[pl]=Obraz;Obrazy;Obrazek;Obrazki;Pokaz slajdów;Grafika;Grafiki;Przeglądarka obrazów;Zdjęcie;Zdjęcia;Fotografia;Fotografie;
Keywords[pt]=Imagem;Diaporama;Apresentação;Diapositivos;Grafismos;Gráficos;Visualizador de imagens;
Keywords[ru]=Изображение;Слайд-шоу;Графика;Просмотрщик изображений;
Keywords[sl]=Slika; diaprojekcija;grafika;pregledovalnik slik;
Keywords[sv]=Bild;Bildspel;Grafik;Bildvisare;
Keywords[tr]=Resim;Slayt Gösterisi;Grafikler;Görseller;Resim Gösterici;Görüntü Gösterici;
Keywords[uk]=Picture;Slideshow;Graphics;Image Viewer;зображення;картинка;показ;слайдів;графіка;перегляд;зображення;
Keywords[zh_CN]=Picture;Slideshow;Graphics;Image Viewer;图片;图片查看器;幻灯片;图像;图像查看器;
Keywords=Picture;Slideshow;Graphics;Image Viewer;
StartupNotify=true
