[Desktop Entry]
Type=Application
Name=Solid Explorer
Exec=waydroid app launch pl.solidexplorer2
Icon=/home/manv/.local/share/waydroid/data/icons/pl.solidexplorer2.png
X-Purism-FormFactor=Workstation;Mobile;
